<html>

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>Saturdays Rankings</title>
</head>

<body>
  <div class="container">
    <center>
      <h1>Valorant Rankings</h1>
    </center>
    <p>
    <table class="striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Games Played</th>
        <th>TMoV</th>
        <th>AMoV</th>
      </tr>

      <% stats.forEach((stat)=> { %>
        <tr>
          <td>
            <%= stat.rank %>
          </td>
          <td>
            <%= stat.name %>
          </td>
          <td>
            <%= stat.gp %>
          </td>
          <td>
            <%= stat.tMoV %>
          </td>
          <td>
            <%= stat.aMoV %>
          </td>
        </tr>
      <% }); %>
    </table>
    </p>
  </div>
</body>

</html>