<html>

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>Saturdays Rankings</title>
</head>

<body>
  <div class="container">
    <h2 class="center">Valorant Rankings <button data-target="pickTeams" class="btn modal-trigger">Pick Teams</button>
    </h2>
    <p>
    <table class="striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Games Played</th>
        <th>Average MoV</th>
        <th>Average CS</th>
        <th class="tooltipped" data-position="top" data-tooltip="(ACS * (13 + AMoV)) / 10">BOT</th>
      </tr>

      <% stats.forEach((stat)=> { %>
        <tr>
          <td>
            <%= stat.rank %><% if (stat.difference) { %> <small><%- stat.difference.rankText %></small><% } %>
          </td>
          <td>
            <%= stat.name %>
          </td>
          <td>
            <%= stat.gp %><% if (stat.difference) { %> <small><%- stat.difference.gpText %></small><% } %>
          </td>
          <td>
            <%= stat.aMoV %><% if (stat.difference) { %> <small><%- stat.difference.aMoVText %></small><% } %>
          </td>
          <td>
            <%= stat.aCS %><% if (stat.difference) { %> <small><%- stat.difference.aCSText %></small><% } %>
          </td>
          <td>
            <%= stat.bOT %><% if (stat.difference) { %> <small><%- stat.difference.bOTText %></small><% } %>
          </td>
        </tr>
        <% }); %>
    </table>
    </p>
  </div>

  <div id="pickTeams" class="modal">
    <div class="modal-content">
      <form method="POST" action="/">
        <div class="row">
          <% stats.forEach((stat)=> { %>
            <div class="col s6 m4">
              <div class="section">
                <label class="black-text">
                  <input type="checkbox" name="<%= stat.name %>" />
                  <span><%= stat.name %></span>
                </label>
              </div>
            </div>
          <% }); %>
        </div>

        <div class="row center-align">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="pickedTeams" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <table class="striped">
            <tr>
              <th>Team 1</th>
            </tr>
            <% team1Players.forEach((player)=> { %>
              <tr>
                <td>
                  <%= player %>
                </td>
              </tr>
              <% }); %>
          </table>
        </div>
        <div class="col s6">
          <table class="striped">
            <tr>
              <th>Team 2</th>
            </tr>
            <% team2Players.forEach((player)=> { %>
              <tr>
                <td>
                  <%= player %>
                </td>
              </tr>
              <% }); %>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var modals = document.querySelectorAll('.modal');
      M.Modal.init(modals);

      var tooltips = document.querySelectorAll('.tooltipped');
      M.Tooltip.init(tooltips);

      <% if (team1Players && team1Players.length > 0) { %>
        const pickedTeamsModal = document.getElementById('pickedTeams');
        const instance = M.Modal.init(pickedTeamsModal, {
          dismissible: false
        });
        instance.open();
      <% } %>
    });
  </script>
</body>

</html>
